body {
  background-color: #111;
  color: white;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Remove default padding and margin from all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Ensure overflow hidden on row posters */
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 150px;
  object-fit: contain;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}